<%- include('partials/header'); -%>

<ul class="games">
  <div class="card" style="width: 15rem;">
    <img src="/game_icon.jpg" class="card-img-top" alt="join private room">
    <div class="card-body">
      <h5 class="card-title">Private game</h5>
      <p class="card-text">Play a private game with your friends</p>
      <a href="/private_game" class="stretched-link"></a>
    </div>
  </div>
  
  <div class="card disabled" style="width: 15rem;">
    <img src="/game_icon.jpg" class="card-img-top" alt="join public room">
    <div class="card-body">
      <h5 class="card-title">Public game</h5>
      <p class="card-text">Play a public game with other people</p>
      <a href="#" class="stretched-link"></a>
    </div>
  </div>
  <div class="card disabled" style="width: 15rem;">
    <img src="/game_icon.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Your quizz</h5>
      <p class="card-text">Create your custom made quizz</p>
      <a href="/all_quizz" class="stretched-link"></a>
    </div>
  </div>
</ul>

<%- include('partials/footer'); -%>