<%- include('../partials/header'); -%>

<ul class="games">
  <div class="card" style="width: 15rem;">
    <img src="/game_icon.jpg" class="card-img-top" alt="join private room">
    <div class="card-body">
      <h5 class="card-title">Create a room</h5>
      <p class="card-text">Create a room to invite your friend for a game</p>
      <a href="/games/private_game" class="stretched-link"></a>
    </div>
  </div>
  
  <div class="card disabled" style="width: 15rem;">
    <img src="/game_icon.jpg" class="card-img-top" alt="join public room">
    <div class="card-body">
      <h5 class="card-title">Join room</h5>
      <p class="card-text">Join the room and your friends to play </p>
      <a href="#" class="stretched-link"></a>
    </div>
  </div>
</ul>

<%- include('../partials/footer'); -%>